@model IEnumerable<NDV_PetLoversClinic.Models.Records.Breed>
@{
    ViewData["Title"] = "Index Breeds";
}

<div class="bg-secondary bg-opacity-10 mb-3 py-2">
    <div class="container">
        <h1>Breed List</h1>
    </div>
</div>

<div class="container">
    <div class="d-flex justify-content-between my-3">
        <a href="@Url.Action("Create","Breed")" class="btn btn-primary"><i class="bi bi-plus-lg"></i> New Breed</a>
        <a href="@Url.Action("Index", "Specie")" class="btn btn-primary"><i class="bi bi-list"></i> Specie List</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Breed Id</th>
                <th>Breed Name</th>
                <th>Specie Type</th>
                @* <th>Action</th> *@
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.breed_Id</td>
                    <td>@item.breed_Name</td>
                    <td>@item.Specie.specie_Name</td>
                    @* <td><a class="btn btn-outline-primary border-0" title="Edit"><i class="bi bi-pencil-square"></i></a></td> *@
                </tr>
            }
        </tbody>
    </table>
</div>