@model NDV_PetLoversClinic.ViewModel.Records.ClientVm
@{
    ViewData["Title"] = "Client Index";
}

<div class="bg-secondary bg-opacity-10 mb-3 py-2">
    <div class="container">
        <h1>Client List</h1>
    </div>
</div>
<div class="container">
    <div class="mt-4 d-flex justify-content-between">
        <div class="col-3">
            <a class="btn btn-primary" asp-action="Create" asp-controller="Client"><i class="bi bi-plus-lg"></i> New Client</a>
        </div>

        <div class="col-9">
            <form method="get" asp-action="Index">
                <div class="row justify-content-end">
                    @*   <div class="form-floating mb-3">
                    <input type="text" class="form-control form-control-lg" id="searchTerm" name="searchTerm" placeholder="Search Client">
                    <label for="searchTerm" class="ps-4">Search Client</label>
                    </div> *@
                    <div class="col-5 col-auto">
                        <input type="text" class="form-control form-control" value="@Model.searchTerm" name="searchTerm" placeholder="Search Client">
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary px-4 ">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                </div>
            </form>

        </div>
        
    </div>
    

    <div id="results">

    @if (Model.isFiltered == true)
    {
        <div class="container mt-5">
            <table class="table hover DefaultTbl">
                <thead>
                    <tr>
                        <th class="text-center">Client ID</th>
                        <th class="text-center">Name</th>
                        <th class="text-center">Address</th>
                        <th class="text-center">Contact No.</th>
                         <th class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>


                    @foreach (var item in Model.IEClients)
                    {
                        <tr>
                            <td class="text-center">@item.ClientId</td>
                            <td class="text-center">@item.FullName</td>
                            <td class="text-center">@item.Address</td>
                            <td class="text-center">@item.Contacts</td>
                            <td class="text-center">
                                <a class="btn btn-secondary" asp-action="ViewClient" asp-route-id="@item.ClientId">View</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <div class="row justify-content-center mt-5">
            <div class="col-12 text-center">
                <p class="text-muted">No results found</p>
            </div>
        </div>
        }
</div>

</div>
<script src="~/js/dataTables/DefaultTbl.js" defer></script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
@*     <script>
        $(document).ready(function () {
            $('#searchForm').submit(function (event) {
                event.preventDefault();
                var searchTerm = $('input[name="searchTerm"]').val();

                $.get('/Client/Index', { searchTerm: searchTerm }, function (data) {
                    $('#results').html($(data).find('#results').html());
                });
            });
        });
    </script> *@
}